<div class="container ">
    <div class="row mt-5">
        <div class="col-sm-6">
            <h1 class="fw-normal">Transform the way you recruit.</h1>
                <p>Recruiting candidates is easier than ever with Manatal’s</p>
                <p>recruitment SaaS. Whether you work for a recruitment agency</p>
                <p>or in a human resources department, our cloud-based recruitment</p>
                <p>software is made for you. Start now!</p>
            <button class="btn btn-primary m-2 rounded-pill btn-sm">REQUEST DEMO</button>
            <button class="btn btn-success rounded-pill btn-sm">START FREE TRAIL</button>
        </div>
        <div class="col-sm-6">
            <img [src]="myimage" class="img-rounded" alt="Cinque Terre" width="350" height="200">
        </div>
    </div>
  </div>


  <div class="container">
    <div class="row mt-5">
      <div class="col-sm-6" >
            <p>Recruiting candidates is easier than ever with Manatal’s.Recruiting candidates is 
                easier than ever with Manatal’s software is made for you. Start now!</p>
      </div>
      <div class="col-sm-6" > All your people information in
        one place to create a connected
         digital workplace</div>
    </div>
  </div>