<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="topna">
    <a class="active" style="margin-left: 200px;">CORE HR</a>
    <a href="#news">HRIS</a>
    <a href="#contact">Employee Profiles</a>
    <a href="#about">Documentst</a>
    <a href="#about">Helpdesk</a>
    <a href="#about">Pulse Surveys</a>
    <a href="#about">HR Analytics</a>
</div>

  <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <h1 class="heading1">HR software that<br> employees love and use<br> everyday</h1>
                <p class="paragraph1">Keka HR software is designed to delight your employees.<br>
                     Our employee centric user experience coupled with hooks<br>
                      and data insights always piques your employee's curiosity<br>
                       and adopt the platform.</p>
                <button class="block">Get Started</button>
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage" alt="Cinque Terre" width="600" height="500" style="margin-left: -25px;">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <H3>EMPLOYEE PROFILES</H3>
                <h1 class="heading3">Employee profiles that increase<br> belongingness</h1>
                <p class="paragraph3">As subtle as it might be, Keka employee profile pages<br>
                     arouse and encourage your employees to show off their<br>
                      connection with their job and the organization which are <br>
                      often accessed by everyone across the organization.</p>  
                    <button class="btn info">Learn about Employee profiles</button>
            </div>
            
            <div class="col-sm-6" style="background-color:white;">
                    <img [src]="myimage1" alt="Cinque Terre" width="600" height="610" >
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage2" alt="Cinque Terre" width="500" height="280" style="margin-left: -25px;"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <h3 class="redheading4">INBOX</h3>
                <br>
                <h1 class="heading4">All tasks and workflows <br>accessed from one place</h1>
                <p class="paragraph4">Keka HRMS software ensures your employees lose no time<br>
                     groping for information. Every action right from employee <br>
                     onboarding tasks, leave approvals, peer feedback, expense<br>
                      approvals, etc. can all be accessed from an intuitive Inbox.<br>
                       Available in web and mobile app.
                </p>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <h3 class="redheading5">DIGITAL DOCUMENTS</h3><br>
                <h1 class="heading5">Digitize all your HR and<br> employee documents</h1>
                <p class="paragraph5">Keka HRMS lets you digitize every process in your<br>
                     organization and helps you transform into a paperless <br>
                     organization. Your first step to digital transformation.</p> 
                <button class="btn info">Learn about Employee profiles</button> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                    <img [src]="myimage3" alt="Cinque Terre" width="550" height="300" >
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" id="image4" style="background-color:white;">
                <img [src]="myimage4"  alt="Cinque Terre" width="500" height="370"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <H3>AGILE ORGANIZATION STRUCTURES</H3><br>
                <h1 class="heading6">Functional and organization <br>structures to suit your needs</h1>
                <p class="paragraph6">Keka HRMS architecture is flexible enough to create any<br>
                     kind of flat or hierarchical organization structures that can<br>
                      accommodate any complex operational process of a<br>
                       business. Create divisions, departments, business units, <br>
                       locations, branches, or any custom functional groups. </p>
                <button class="btn info">Learn about Employee profiles</button> 
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <H3>HR WORKFLOWS</H3><br>
                <h1 class="heading7">Most comprehensive<br> workflows your business will<br> ever need</h1>
                <p class="paragraph7">Keka HRMS system covers every HR workflow you will<br>
                     need to manage your people processes. Right from hiring, <br>
                     onboarding, probation confirmation, internal movements<br>
                      and all the way up, we got you covered.</p>
                
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage5" alt="Cinque Terre" width="580" height="550"> 
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage6" id="image6" alt="Cinque Terre" width="500" height="400"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <H3>HR ANALYTICS</H3>
                <br>
                <h1 class="heading8">Gain actionable people insights<br> in your organization</h1>
                <p class="paragraph8">From simplifying complex data trends to setting up <br>
                    powerful benchmarks, Keka’s HR Analytics provides you <br>
                    insights into various aspects of your workforce and<br>
                     generate instant reports, helping you to make smarter and <br>
                     data-driven decisions. </p>  
            </div>
        </div>
    </div>


    
   
    <!--Footer-->

      
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1" style="background-color:#3c444b;height: 900px;"></div>
          <div class="col-sm-10" style="background-color:#3c444b;height: 900px;">
            <table>
              <tr>
                <th>Core HR</th>
                <th>Payroll</th>
                <th>Hiring & Onboarding</th>
                <th>Company</th>
              </tr>
      
              <tr>
                <td>HRIS</td>
                <td>Payroll Software</td>
                <td>Hiring</td>
                <td>About us</td>
              </tr>
      
              <tr>
                <td>Employee Profiles</td>
                <td>Compliance</td>
                <td>Applicant Tracking</td>
                <td>Customer Stories</td>
              </tr>
      
              <tr>
                <td>Documents</td>
                <td>Expense Management</td>
                <td>Offer Management</td>
                <td>Partner with Us</td>
              </tr>
      
              <tr>
                <td>Helpdesk</td>
                <td>Compensation</td>
                <td>Employee Onboarding</td>
                <td>Integrations</td>
              </tr>
      
              <tr>
                <td>Pulse Surveys</td>
                <td>Loans & Advances</td>
                <td></td>
                <td>Security</td>
              </tr>
      
              <tr>
                <td>HR Analytics</td>
                <td>Employee Finances</td>
                <td></td>
                <td>We are hiring !</td>
              </tr>
            </table>
      
      
            <br><br>
            <table>
              <tr>
                <th>Time Attendance</th>
                <th>Performance</th>
                <th>Customers</th>
                <th>Contact</th>
              </tr>
      
              <tr>
                <td>LeaveManagement</td>
                <td>Overview</td>
                <td>CustomerExperience</td>
                <td>Sales:
                  +91 89292 08062<br>
                  +91 40 4137 1123</td>
                <td></td>
              </tr>
      
              <tr>
                <td>AttendanceManagement</td>
                <td>360degreereviews</td>
                <td>Customer Stories</td>
                <td>For support:<br>
                  support@keka.com</td>
               
              </tr>
      
              <tr>
                <td>GPS /MobileAttendance</td>
                <td>OKRs and Goals</td>
                <td>Onboarding&Implementation</td>
                <td>Plot No 283/A, Incor 9</td>
                <td></td>
              </tr>
      
              <tr>
                <td>Shift Management</td>
                <td>One on One</td>
                <td>Wall of Love</td>
                <td>Opp:Westin Hotel,MindSpace</td>
              </tr>
      
              <tr>
                <td></td>
                <td>Continuous Feedback</td>
                <td>Support</td>
                <td></td>
              </tr>
        
            </table>
            <hr>
      
            <table>
              <tr>
                <th>Locations</th>
                <td>Dallas</td>
                <td>Bengaluru<br>
                  +919000735500
                </td>
                <td>Chenna<br>
                    +919000735500
                </td>
                <td>Delhi NCR<br>
                      +919000735500
                </td>
              </tr>
          </table>
          </div>
          <div class="col-sm-1" style="background-color:#3c444b;height: 900px;"></div>
        </div>
    </div>
     


