<app-student-header></app-student-header>
<div class="card text-center">

<div class="card border-primary border-2 m-5 mx-auto" style="width:600px;">
    <div class="card-header bg-primary text-white text-center">Fee Payment Details</div>
    <div class="card-body">
        <table>
            <tr class="text-bold">
                <th>Admission Number</th>
                <th>Name</th>
                <th>Class</th>
                <th>Payment Date</th>
                <th>Amont</th>
            </tr>

            <tr>
                <td>1234</td>
                <td>Eshwar</td>
                <td>10</td>
                <td>02/12/2020</td>
                <td>10000</td>
            </tr>
        
        </table>
        <div class="card-footer bg-transparent pt-4">
            <div class="d-flex justify-content-between text-dark">
                <p>Remaininga amont:40000</p>
                <p>total amont:50,000</p>
            </div>
        </div>
      </div>
  </div>
</div>
<app-student-footer></app-student-footer>

