<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="topna">
    <a class="active" style="margin-left: 200px;">PAYROLL</a>
    <a href="#news">Payroll Software</a>
    <a href="#contact">Compliance</a>
    <a href="#about">Expense Management</a>
    <a href="#about">Loans & Advances</a>
    <a href="#about">Employee Finances</a>
</div>

  <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <h1 class="heading1">Indian Payroll is complex.<br> Software doesn’t have to<br> be!</h1>
                <p class="paragraph1">Keka payroll software revolutionized the Indian payroll<br>
                industry. We re-imagined and set a benchmark on how an<br>
                enterprise cloud payroll software could be simplified.ny.</p>
                <button type="button" class="btn btn-primary">GetStarted</button>
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage" alt="Cinque Terre" width="600" height="500" style="margin-left: -25px;">
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background-color:white;">
                <h1 class="heading2">No more month-end mayhems with HRX<br> payroll software</h1>
                <p class="paragraph2">Your HR and finance teams can make salary and payroll changes throughout the month and dont <br>
                     have to pile up their work till month end!
                </p>
                <img [src]="myimage1" alt="Cinque Terre" width="825" height="600" style="margin-left: 155px;">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage2" alt="Cinque Terre" width="600" height="400" style="margin-left: -25px;"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <H3>EXTENSIBLE RULES</H3>
                <h1 class="heading3">Configurable rules based<br> Salary components</h1>
                <p class="paragraph3">Keka brought in a design revolution in the online payroll<br>
                     software market and has shown how easy entire payroll<br>
                      process can be made and yet completely configurable. The<br>
                       range based salary structure simplifies the automation<br> process for any size of the organization.</p>
                
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <H3>HR PAYROLL SOFTWARE MADE SIMPLE</H3>
                <h1 class="heading3">Revising salary doesn’t require<br> payroll knowledge</h1>
                <p class="paragraph3">Keka is the only HR payroll management software in the<br>
                     industry that facilitates easy participation of non-finance<br>
                      roles such as HR members in salary operations. Revising<br>
                       and planning a compensation plan requires no prior payroll<br>
                        knowledge in Keka. Yet it puts you in complete control of <br>
                        statutory compliance.</p>  
            </div>
            <div class="col-sm-6" style="background-color:white;">
                    <img [src]="myimage3" alt="Cinque Terre" width="500" height="300" >
            </div>
        </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage4" alt="Cinque Terre" width="450" height="300"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <H3>PREVIEW</H3>
                <h1 class="heading3">Preview payroll before<br> finalizing and releasing</h1>
                <p class="paragraph3">You can run a preview of the payroll period any number of<br>
                     times and review every aspect of the payroll before<br>
                      finalizing. The intuitive interface in Keka payroll software<br>
                       allows you to easily compare changes from the previous<br>
                        pay period and identify changes at a micro-level.</p>
                
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <H3>PAYSLIPS</H3>
                <h1 class="heading3">Payslips on SMS, email or<br> mobile app or bulk print</h1>
                <p class="paragraph3">Keka payroll management system allows you to release<br>
                     payslips in various formats for your employees. You can<br>
                      release them digitally on their mobile app, email, or SMS. In <br>
                      case you prefer a paper approach, bulk print them and post<br>
                       them too.</p>  
            </div>
            <div class="col-sm-6" style="background-color:white;">
                    <img [src]="myimage5" alt="Cinque Terre" width="500" height="300" >
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background-color:white;">
                <H3 style="text-align: center;">GUIDED PAYROLL PROCESS</H3>
                <h1 class="heading2">Easy payroll processing with guided wizards</h1>
                <p class="paragraph2">Keka payroll guides you with every aspect of payroll processing and recommends all possible<br>
                     actions, so you don't have to sweat. 
                </p>
           </div>
        </div>
    </div>



    <div class="container">
        <div class="row3">
            <div class="col-sm-4" style="background-color:white;">
                <h5>Leave, attendance & overtime <br>deductions / payments</h5>

                <p class="grid">Review and finalize all unpaid<br>
                     leaves and attendance<br>
                      deductions and make<br>
                       adjustments as needed.</p>
            </div>
            <div class="col-sm-4" style="background-color:white;">
                <h5>Newly joined employees and <br>exited employee payments</h5>

                <p class="grid">Keka automatically keeps track<br>
                     of new joining and exiting <br>
                     employees for the month so<br>
                      you can review and settle<br>
                       payments.</p>
            </div>
            <div class="col-sm-4" style="background-color:white;">
                <h5>Salary revisions and scheduled<br> performance bonuses</h5>

                <p class="grid">Any revisions since last payroll<br>
                     run (even backdated ones) and <br>
                     pending bonus payments can<br>
                      be tracked every month.</p>
            </div>
        </div>
    </div>



    
    <div class="container">
        <div class="row4">
            <div class="col-sm-4" style="background-color:white;">
                <h5>Expenses and other ad hoc <br>payments</h5>

                <p class="grid"> Keep track of all <br>
                    reimbursements and pay or <br>
                    hold the payments for next<br> month.</p>
            </div>
            <div class="col-sm-4" style="background-color:white;">
                <h5>Arrear calculations and other<br> dues </h5>

                <p class="grid"> Keka keeps track of all arrears<br>
                     that arise from salary changes <br>
                     or other adjustments. Shows<br>
                      any pending dues too.</p>
            </div>
            <div class="col-sm-4" style="background-color:white;">
                <h5>Review and compare salaries<br> from previous months</h5>

                <p class="grid"> Detailed line item level break<br>
                     up comparison of salaries, so <br>
                     you can track little details that<br>
                      vary from the past payroll run.</p>
            </div>
        </div>
    </div>





    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage6" alt="Cinque Terre" width="450" height="450"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <H3>AUTOMATION</H3>
                <h1 class="heading3">Unified payroll and time <br>tracking software</h1>
                <p class="paragraph3">Keka HR and payroll software is tightly integrated with our<br>
                     time tracking products. You can easily track leaves, <br>
                     attendance of employees and have the calculations done<br>
                      automatically with zero manual effort. You can even reverse <br>
                      your leave and attendance entries and pay arrears!</p>
                
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <H3>EXPENSE MANAGEMENT</H3>
                <h1 class="heading3">Expense management<br> integrated with Payroll</h1>
                <p class="paragraph3">Pay employee expenses along with Payroll and simplify <br>
                    your expense management operations. Keka lets you <br>
                    configure an approval workflow for expenses and schedule <br>
                    expense reimbursements across multiple payroll periods. </p>  
            </div>
            <div class="col-sm-6" style="background-color:white;">
                    <img [src]="myimage7" alt="Cinque Terre" width="500" height="300" >
            </div>
        </div>
    </div>


    
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage8" alt="Cinque Terre" width="450" height="300"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <H3>ACCOUNTING INTEGRATION</H3>
                <h1 class="heading3">Integrate with Accounting<br> software: Quickbooks, Tally</h1>
                <p class="paragraph3">Keka payroll system allows you to create journal voucher<br>
                     entries in your accounting system for various configurable <br>
                     salary components. You can group these entries based on <br>
                     location or department too. In addition, Keka also provides<br>
                      MS Excel and CSV downloads that can be imported to<br>
                       other financial software such as Oracle Netsuite etc.</p>
                
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <H3>PAYROLL ANALYTICS</H3>
                <h1 class="heading3">Rich analytics on budgeting and compensation</h1>
                <p class="paragraph3">Track your payroll data, employees and all associated<br>
                     payroll management cost elements in one consolidated and <br>
                     consistent reporting model. Analyze and benchmark your<br>
                      data to really understand your workforce cost, drill into<br>
                       local and identify outliers and patterns quickly.</p>  
            </div>
            <div class="col-sm-6" style="background-color:white;">
                    <img [src]="myimage9" alt="Cinque Terre" width="500" height="300" >
            </div>
        </div>
    </div>

    <!--Footer-->

      
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1" style="background-color:#3c444b;height: 900px;"></div>
          <div class="col-sm-10" style="background-color:#3c444b;height: 900px;">
            <table>
              <tr>
                <th>Core HR</th>
                <th>Payroll</th>
                <th>Hiring & Onboarding</th>
                <th>Company</th>
              </tr>
      
              <tr>
                <td>HRIS</td>
                <td>Payroll Software</td>
                <td>Hiring</td>
                <td>About us</td>
              </tr>
      
              <tr>
                <td>Employee Profiles</td>
                <td>Compliance</td>
                <td>Applicant Tracking</td>
                <td>Customer Stories</td>
              </tr>
      
              <tr>
                <td>Documents</td>
                <td>Expense Management</td>
                <td>Offer Management</td>
                <td>Partner with Us</td>
              </tr>
      
              <tr>
                <td>Helpdesk</td>
                <td>Compensation</td>
                <td>Employee Onboarding</td>
                <td>Integrations</td>
              </tr>
      
              <tr>
                <td>Pulse Surveys</td>
                <td>Loans & Advances</td>
                <td></td>
                <td>Security</td>
              </tr>
      
              <tr>
                <td>HR Analytics</td>
                <td>Employee Finances</td>
                <td></td>
                <td>We are hiring !</td>
              </tr>
            </table>
      
      
            <br><br>
            <table>
              <tr>
                <th>Time Attendance</th>
                <th>Performance</th>
                <th>Customers</th>
                <th>Contact</th>
              </tr>
      
              <tr>
                <td>LeaveManagement</td>
                <td>Overview</td>
                <td>CustomerExperience</td>
                <td>Sales:
                  +91 89292 08062<br>
                  +91 40 4137 1123</td>
                <td></td>
              </tr>
      
              <tr>
                <td>AttendanceManagement</td>
                <td>360degreereviews</td>
                <td>Customer Stories</td>
                <td>For support:<br>
                  support@keka.com</td>
               
              </tr>
      
              <tr>
                <td>GPS /MobileAttendance</td>
                <td>OKRs and Goals</td>
                <td>Onboarding&Implementation</td>
                <td>Plot No 283/A, Incor 9</td>
                <td></td>
              </tr>
      
              <tr>
                <td>Shift Management</td>
                <td>One on One</td>
                <td>Wall of Love</td>
                <td>Opp:Westin Hotel,MindSpace</td>
              </tr>
      
              <tr>
                <td></td>
                <td>Continuous Feedback</td>
                <td>Support</td>
                <td></td>
              </tr>
        
            </table>
            <hr>
      
            <table>
              <tr>
                <th>Locations</th>
                <td>Dallas</td>
                <td>Bengaluru<br>
                  +919000735500
                </td>
                <td>Chenna<br>
                    +919000735500
                </td>
                <td>Delhi NCR<br>
                      +919000735500
                </td>
              </tr>
          </table>
          </div>
          <div class="col-sm-1" style="background-color:#3c444b;height: 900px;"></div>
        </div>
    </div>
     


