<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btm btn-primary" (click)="onlyodd = !onlyodd">Only show odd numbers</button>
        <br><br>
        <ul class="list-group">
          <div *ngIf="onlyodd">
            <li class="list-group-item" *ngFor="let odd of oddNumbers">{{ odd }}</li>
          </div>

          <div *ngIf="!onlyodd">
            <li class="list-group-item" *ngFor="let even of evenNumbers">{{ even }}</li>
          </div>

        </ul>
    </div>
  </div>
</div>