<div class="card text-center">
    <div class="card-header bg-primary text-white">
      Student Info
    </div>
    <!-- <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> -->



<div class="container">
    <div class="row">
        <p id="rcorners1" class="m-2 text-white bg-info">Home</p>
        <p id="rcorners2" class="m-2 text-white bg-info">Profile</p>
        <p id="rcorners3" class="m-2 text-white bg-info" (click)="studentfee()">Fees</p>
        <p id="rcorners4" class="m-2 text-white bg-info">Attandance</p>
        <p id="rcorners5" class="m-2 text-white bg-info">Exams</p>
        <p id="rcorners6" class="m-2 text-white bg-info">Pay Fee Online</p>
        <p id="rcorners5" class="m-2 text-white bg-info">Logout</p>
    </div>
</div>



    <!-- Footer -->
    <div class="card-footer bg-primary text-white fixed-bottom">
      Design & Developed by ESM
    </div>
  </div>


