<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="topna">
    <a class="active" style="margin-left: 200px; color:black;"><b>HIRING & ONBOARDING</b></a>
    <a href="#news">Hiring</a>
    <a href="#contact">Applicant Tracking</a>
    <a href="#about">Offer Management</a>
    <a href="#about">Employee Onboarding</a>
</div>

  <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <h1 class="heading1">Not just another module<br> but a full blown hiring<br> software</h1>
                <p class="paragraph1">Hiring a candidate isn’t an easy journey. That’s why Keka<br>
                   comes equipped with all the tools and features to make<br>
                    your hiring process more streamlined and sophisticated at<br>
                     the same time.</p>
                <button class="block">Get Started</button>
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage" alt="Cinque Terre" width="550" height="600" style="margin-left: -25px;">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <h3>INTEGRATED HIRING PLATFORM</h3>
                <h1 class="heading3">A complete hiring software,<br>
                   integrated with HRMS<br>
                    platform</h1>
                <p class="paragraph3">With integration between Keka recruitment management<br>
                   software and HRMS, manage your candidates and hiring<br>
                    proceedings all at one go. The cross-platform link allows<br>
                     you to perform robust actions like salary breakup, creating<br>
                      an approval chain for the requisition and interview process.</p>  
            </div>
            
            <div class="col-sm-6" style="background-color:white;">
                    <img [src]="myimage1" alt="Cinque Terre" width="550" height="400" >
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage2" alt="Cinque Terre" width="550" height="420" style="margin-left: -25px;"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <h3 class="redheading4">HIRING PIPELINES</h3>
                <br>
                <h1 class="heading4">Flexible hiring workflows for<br> each job posting</h1>
                <p class="paragraph4">There’s no one size fits all hiring workflow. Candidates are<br>
                   unique and incompatible workflow can cost you time,<br>
                    inserts delays, and miscommunications. Make instant<br>
                     changes to the workflow that keeps you on track and lets<br>
                      you do the best of the candidate’s evaluation.
                </p>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <h3 class="redheading5">REQUISITIONS</h3><br>
                <h1 class="heading5">Plan your hiring with<br> requisition workflows</h1>
                <p class="paragraph5">Cut to the chase with your management through simple<br>
                   and direct requisition forms. Fasten your approval process<br>
                    by involving people from different departments in the<br>
                     approval chain.</p>  
            </div>
            <div class="col-sm-6" style="background-color:white;">
                    <img [src]="myimage3" alt="Cinque Terre" width="550" height="400" >
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" id="image4" style="background-color:white;">
                <img [src]="myimage4"  alt="Cinque Terre" width="480" height="450"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <h3 class="redheading6">INTERNAL JOB BOARD</h3><br>
                <h1 class="heading6">Best talent can often be <br>garnered from internal teams<br> and resources</h1>
                <p class="paragraph6">Turn on the talent hunt in-house by notifying your<br>
                   employees on the internal platform. Define clear job<br>
                    descriptions, so that the right people can apply, and they<br>
                     will also know whom to recommend for the job.</p> 
            </div>
        </div>
    </div>

    
   
    <!--Footer-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1" style="background-color:#3c444b;height: 350px;"></div>
            <div class="col-sm-10" style="background-color:#3c444b;height: 350px;width:1318px;">
              <table>
                <tr>
                    <th>Core HR</th>
                    <th>Payroll</th>
                    <th>Hiring & Onboarding</th>
                    <th>Company</th>
                </tr>
      
                <tr>
                    <td>HRIS</td>
                    <td>Payroll Software</td>
                    <td>Hiring</td>
                    <td>About us</td>
                </tr>
      
                <tr>
                    <td>Employee Profiles</td>
                    <td>Compliance</td>
                    <td>Applicant Tracking</td>
                    <td>Customer Stories</td>
                </tr>
      
                <tr>
                    <td>Documents</td>
                    <td>Expense Management</td>
                    <td>Offer Management</td>
                    <td>Partner with Us</td>
                </tr>
      
                <tr>
                    <td>Helpdesk</td>
                    <td>Compensation</td>
                    <td>Employee Onboarding</td>
                    <td>Integrations</td>
                </tr>
      
                <tr>
                    <td>Pulse Surveys</td>
                    <td>Loans & Advances</td>
                    <td></td>
                    <td>Security</td>
                </tr>
      
                <tr>
                  <td>HR Analytics</td>
                  <td>Employee Finances</td>
                  <td></td>
                  <td>We are hiring !</td>
                </tr>
              </table>
            </div>
          <div class="col-sm-1" style="background-color:#3c444b;height: 350px;"></div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row" id="secndtble">
          <div class="col-sm-1" style="background-color:#3c444b;height: 500px;"></div>
            <div class="col-sm-10" style="background-color:#3c444b;height: 500px;width:1318px;">

                  <table>
                        <tr>
                          <th>Time Attendance</th>
                          <th>Performance</th>
                          <th>Customers</th>
                          <th>Contact</th>
                        </tr>

                        <tr>
                          <td>LeaveManagement</td>
                          <td>Overview</td>
                          <td>CustomerExperience</td>
                          <td>Sales:
                              +91 89292 08062<br>
                              +91 40 4137 1123</td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>AttendanceManagement</td>
                          <td>360degreereviews</td>
                          <td>Customer Stories</td>
                          <td>For support:<br>
                              support@keka.com</td>
                            
                        </tr>

                        <tr>
                            <td>GPS /MobileAttendance</td>
                            <td>OKRs and Goals</td>
                            <td>Onboarding&Implementation</td>
                            <td>Plot No 283/A, Incor 9</td>
                            <td></td>
                        </tr>

                        <tr>    
                            <td>Shift Management</td>
                            <td>One on One</td>
                            <td>Wall of Love</td>
                            <td>Opp:Westin Hotel,MindSpace</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Continuous Feedback</td>
                            <td>Support</td>
                            <td></td>
                        </tr>
                    </table>    
              </div>
              <div class="col-sm-1" style="background-color:#3c444b;height: 500px;"></div>
              <hr style="color: beige;">
          </div>
      </div>

  
      