
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:white;"></div>
    <div class="col-sm-8" style="background-color:white;">
      <h1 style="margin-top: 200px;"><b>Everything you need to<br> build a great company</b></h1>
      <p>Keka is your people enabler. From automation of people 
        <br>processes to creating an engaged and driven culture,
        <br> Keka is all you need to build a good to great company.
      </p>
      <button type="button" class="btn btn-primary">Get free trial</button>
    </div>
    <div class="col-sm-2" style="background-color:white;"></div>
  </div>
</div>

<br><br><br><br>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:white;"></div>
    <div class="col-sm-8" style="background-color:white;">
      <img [src]="myimage3" alt="Cinque Terre" width="1100" height="70"> 
    </div>
    <div class="col-sm-2" style="background-color:white;"></div>
  </div>
</div>

<br><br><br><br>

<div class="container-fluid" style="background-color: Lavender;">
  <div class="row">
    <div class="col-sm-2" style="background-color:Lavender;"></div>
    <div class="col-sm-8" style="background-color:Lavender;">
    
      <h2 style="text-align: center;"><b>Smart HR to outsmart the changing world</b></h2>
      <p style="text-align: center;">The world has changed, and it's going to keep changing. Keka HR helps your teams to adapt,<br>
       evolve, and scale by working more effectively. Spend less time on mundane tasks and focus more <br>
       on strategy. Turn data into smarter decisions and create experiences your employees will love.
      </p>
      <br><br><br>
      <div class="row">
        <div class="col-sm-4" style="background-color:Lavender;">
        <p><b>People data & Analytics</b><br>
          Connect all your people together in one <br>place and gain powerful insights</p>
        <br>
        <p><b>Payroll & Expense tracking</b><br>
          Automate and pay employees on time and<br> stay compliant. All remotely</p>
        <br>
        <p><b>Performance and Culture</b><br>
          Create a culture of high performance<br> teams and see your business scale</p>  
        <br>
        <p><b>Hiring and Onboarding</b><br>
          Continue to hire and onboard great talent<br> remotely during these times</p>
        </div>
        <div class="col-sm-6" style="background-color:Lavender;"></div>
      </div>
    </div>
    <div class="col-sm-2" style="background-color:Lavender;"></div>
  </div>
</div>


<br><br><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:white;"></div>
    <div class="col-sm-8" style="background-color:white;">
      <h2 style="text-align: center;"><b>Keka is loved by companies of size 20 to 20,000</b></h2>
      <p style="text-align: center;">Employee experience that scales as your organization scales</p>
      <br><br>
      <img [src]="myimage4" alt="Cinque Terre" width="1000" height="500"> 
    </div>
    <div class="col-sm-2" style="background-color:white;"></div>
  </div>
</div>

<br>
<h3  style="text-align: center;"><b>Everything you need to create a high<br> performance culture</b></h3>

<br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:white;"></div>
    
    <div class="col-sm-8" style="background-color:white;">
      <div class="row">
        <div class="col-sm-2" id="boxshadow" style="background-color:white;height: 250px;width: 280px;">
        <p><b>Payroll & Expenses</b><br>
          Our industry redefining payroll<br> 
          system automates your payroll<br>
           and saves time for everyone
        </p>
        </div>
        <div class="col-sm-1" style="background-color:white;height: 250px;width: 40px;"></div>
        <div class="col-sm-2" id="boxshadow" style="background-color:white;height: 250px;width: 280px;">
        <p><b>Modern HR</b>
          All your people information in<br>
           one place to create a connected<br>
            digital workplace.</p>
        </div>
        <div class="col-sm-1" style="background-color:white;height: 250px;width: 40px;"></div>
        <div class="col-sm-2" id="boxshadow" style="background-color:white;height: 250px;width: 280px;">
        <p><b>Performance & Culture</b><br>
          An engaging culture driven by<br> contextual feedback and<br> organization aligned goals.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-2" style="background-color:white;"></div>
  </div>
</div>

<br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:white;"></div>
    
    <div class="col-sm-8" style="background-color:white;">
      <div class="row">
        <div class="col-sm-2" id="boxshadow" style="background-color:white;height: 250px;width: 280px;">
        <p><b>Payroll & Expenses</b><br>
          Our industry redefining payroll<br> 
          system automates your payroll<br>
           and saves time for everyone
        </p>
        </div>
        <div class="col-sm-1" style="background-color:white;height: 250px;width: 40px;"></div>
        <div class="col-sm-2" id="boxshadow" style="background-color:white;height: 250px;width: 280px;">
        <p><b>Modern HR</b>
          All your people information in<br>
           one place to create a connected<br>
            digital workplace.</p>
        </div>
        <div class="col-sm-1" style="background-color:white;height: 250px;width: 40px;"></div>
        <div class="col-sm-2" id="boxshadow" style="background-color:white;height: 250px;width: 280px;">
        <p><b>Performance & Culture</b><br>
          An engaging culture driven by<br> contextual feedback and<br> organization aligned goals.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-2" style="background-color:white;"></div>
  </div>
</div>
<br><br>

<h3 style="text-align: center;">HCM Software for any industry</h3>
 <P style="text-align: center;"> Find out more about Keka’s dedicated industry-based HCM software, built to help businesses manage their talent better and grow faster.</P>


<br><br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1" style="background-color:white;width:250px;"></div>
    <div class="col-sm-2" style="background-color:white;">
    <p><b>Technology & Services</b><br>
        <br>
        Powerful HCM software for <br>
        technology and white collar <br>
        services companies where<br> 
        Employee experience is<br> 
        essential.</p>
    </div>
    <div class="col-sm-1" style="background-color:white;width:2px;"></div>
    <div class="col-sm-2" style="background-color:white;">
    <p><b>Pharma & Manufacturing</b><br>
      <br>
        HR & Payroll for Pharma and<br> 
        manufacturing companies. For<br>
         both blue-collar and <br>
         white-collar employees.</p>
    </div>
    <div class="col-sm-1" style="background-color:white;width:2px;"></div>
    <div class="col-sm-2" style="background-color:white;">
    <p><b>Banks & Financial Services</b><br>
      <br>
        Complete HCM and Payroll for<br>
         banks and financial services <br>
         where compliance and audit<br>
          processes are a must.
    </p>
    </div>
    <div class="col-sm-1" style="background-color:white;width:2px;"></div>
    <div class="col-sm-2" style="background-color:white;">
    <p><b>Retail & Other Industries</b><br>
      <br>
        All your employee information<br>
        stored in one central location<br>
         and accessible from anywhere.
    </p>
    </div>
  </div>
</div>

<br><br><br>

<h3 style="text-align: center;">Awesome gets awarded</h3>
<p style="text-align: center;">We crave for customer love. Awards are just the side-effect.</p>

<br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1" style="background-color:white;width:250px;"></div>
    <div class="col-sm-2" style="background-color:white;">
    <img [src]="myimage5" alt="Cinque Terre" width="180" height="90" style="margin-left: -30px;"><br><br>
    <p>Hottest startup from <br>Hyderabad</p>
    </div>

    <div class="col-sm-1" style="background-color:white;width:2px;"></div>
    <div class="col-sm-2" style="background-color:white;">
    <img [src]="myimage6" alt="Cinque Terre" width="240" height="90" style="margin-left: -20px;"><br><br>
    <p>Most trending B2B software</p>
    </div>

    <div class="col-sm-1" style="background-color:white;width:2px;"></div>
    <div class="col-sm-2" style="background-color:white;">
    <img [src]="myimage7" alt="Cinque Terre" width="220" height="80" style="margin-left: -50px;"><br><br>
    <p>Best Payroll software</p>
    </div>

    <div class="col-sm-1" style="background-color:white;width:2px;"></div>
    <div class="col-sm-2" style="background-color:white;">
    <img [src]="myimage8" alt="Cinque Terre" width="200" height="80" style="margin-left: -25px;"><br> <br>
    <p>Best Enterprise product</p>
    </div>

  </div>
</div>

<br><br><br>

