table {
    width: 95%;
    margin-left:30px;
    padding: 50;
  }  

  /* Filter CSS*/
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }


    /* Filter CSS*/
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
