<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br><br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4" style="background-color:rgb(36, 36, 128);height: 500px;width:650px; ">    
        <br>
        
      
    
        <div class="gradient-btn btn-2">
            <span>WATCH NOW</span>
            <i class="fa">&#xf0da;</i>
        </div>
     
        <div  class="gradient-btn btn-3">
             <span>LEARN MORE</span>
             <i class="fa">&#xf101;</i>
        </div>

        <div class="gradient-btn btn-4">
            <span>DOWNLOAD</span>
            <i class="fa">&#xf103;</i>
        </div>

        <div class="gradient-btn btn-5">
            <span>BOOK NOW</span>
            <i class="fa">&#xf101;</i>
        </div>

        <div class="gradient-btn btn-6">
            <span>BUY NOW</span>
            <i class="fa">&#xf217;</i>
        </div>

        <div class="gradient-btn btn-7">
            <span>VIEW MORE</span>
            <i class="fa">&#xf101;</i>
        </div>

        <div class="gradient-btn btn-8">
            <span>UPLOAD</span>
            <i class="fa">&#xf102;</i>
        </div>
       </div>
      <div class="col-sm-4"></div>
    </div>
</div>




        