<app-student-header></app-student-header>
<div class="card text-center">
   <div class="card border-primary border-2 m-5 mx-auto" style="width:600px;">
    <div class="card-header bg-primary text-white text-center">Student Attandance Details</div>
    <div class="card-body">
        <h3>Attandance Track</h3>
        <table>
            <tr class="text-bold">
                <th>Month</th>
                <th>Percentage</th>
            </tr>

            <tr>
                <td>Jan</td>
                <td>90%</td>
            </tr>


            <tr>
                <td>Feb</td>
                <td>80%</td>
            </tr>

            <tr>
                <td>Mar</td>
                <td>90%</td>
            </tr>

            <tr>
                <td>Aprill</td>
                <td>70%</td>
            </tr>

            <tr>
                <td>May</td>
                <td>90%</td>
            </tr>

            <tr>
                <td>June</td>
                <td>80%</td>
            </tr>

            <tr>
                <td>July</td>
                <td>90%</td>
            </tr>


            <tr>
                <td>Augest</td>
                <td>70%</td>
            </tr>

            <tr>
                <td>September</td>
                <td>90%</td>
            </tr>

            <tr>
                <td>October</td>
                <td>60%</td>
            </tr>

            <tr>
                <td>November</td>
                <td>50%</td>
            </tr>

            <tr>
                <td>Descember</td>
                <td>10%</td>
            </tr>
        
        </table>
        <div class="card-footer bg-transparent pt-4">
        </div>
      </div>
  </div>
</div>
<app-student-footer></app-student-footer>

