
<div class="card border-primary  position-absolute top-50 start-50 translate-middle" style="max-width: 25rem;">
    <div class="card-header bg-primary text-white border-success text-center " style="font-size: 20px">Student Login</div>
    <div class="card-body text-success  text-center">
      <h4 class="card-title">Student Details</h4>
      <mat-form-field hideRequiredMarker class="example-full-width" floatLabel='auto' appearance='outline'>
        <mat-label>Admission Number</mat-label>
        <input required matInput>
      </mat-form-field>

      <mat-form-field hideRequiredMarker class="example-full-width" floatLabel='auto' appearance='outline'>
        <mat-label>Phone Number</mat-label>
        <input required matInput>
      </mat-form-field>

      <div class="example-button-row float-center">
        <button mat-raised-button color="accent" (click)="onLoginClick()">Login</button>
      </div>
    </div>
    <div class="card-footer bg-primary text-white border-success text-center" style="font-size: 20px">Designed & Developed By ESM</div>
  </div>


  
  