<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="topna">
    <a class="active" style="margin-left: 200px; color:black;"><b>PERFORMANCE</b></a>
    <a href="#news">Overview</a>
    <a href="#contact">360 degree reviews</a>
    <a href="#about">OKRs and Goals</a>
    <a href="#about">One on One</a>
    <a href="#about">Continuous Feedback</a>
</div>

  <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <h1 class="heading1">Performance Management<br> System that actually works</h1>
                <p class="paragraph1">Keka is the PMS that really works for growth-minded<br>
                     organizations that need continuous performance reviews<br>
                      on a real-time basis. Keka performance management<br>
                       software monitors, analyzes, tracks, and evaluates<br>
                        employee performance to ensure that goals are achieved,<br>
                         and the desired ROI is accomplished.</p>
                <button class="block">Get Started</button>
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage" alt="Cinque Terre" width="550" height="410" style="margin-left: -25px;">
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <h3>ONE ON ONE (1:1)</h3>
                <h1 class="heading3">Engage remote employees with<br> one on one meetings</h1>
                <p class="paragraph3">Keka's One on One (1:1) meeting tool accelerates your<br>
                     team’s growth by tracking each employee’s progress and <br>
                     enables you to discuss the issues one on one. Team<br>
                      managers or department heads can define agendas of one <br>
                      on one meetings as it helps employees work on <br>
                      improvement areas. The calendar of required people is<br>
                       automatically blocked the moment you create a one-on-<br>
                       one meeting on Keka.
                    </p>  
                    <button class="btn info">Learn about 1-on-1 Meetings</button>
            </div>
            
            <div class="col-sm-6" style="background-color:white;">
                    <img [src]="myimage1" alt="Cinque Terre" width="550" height="400" >
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <img [src]="myimage2" alt="Cinque Terre" width="550" height="420" style="margin-left: -25px;"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <h3 class="redheading4">CONTINUOUS FEEDBACK</h3>
                <br>
                <h1 class="heading4">Recognize and share feedback<br> when it matters most</h1>
                <p class="paragraph4">Keka Continuous Feedback Module will give your business<br>
                    a motivated culture and help managers and team leaders<br>
                    to keep their team engaged and inspired. Keka PMS gives<br>
                    you accurate insights into your employees based on which<br>
                    you can nurture the teams. Managers in your organization<br>
                    can enter.
                </p>
                <button class="btn info">Learn about Continuous feedback</button>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color:white;">
                <h3 class="redheading5">OKR AND GOALS</h3><br>
                <h1 class="heading5">Set audacious goals and see<br>your teams pushing it forward</h1>
                <p class="paragraph5">Quantify what matters. Keka believes that the process to<br>
                    track performance should be well structured. OKR solution<br>
                    of Keka helps you to track and align employee goals and<br>
                     sub-goals to achieve measurable outcomes. At the point<br>
                      when it is about an organization’s revenue, just numbers<br>
                       talk. The framework allows you to define objective levels<br>
                        such as company objectives, department objectives, and<br>
                         individual objectives.</p>  
                <button class="btn info">Learn about OKRs and Goals</button>
            </div>
            <div class="col-sm-6" style="background-color:white;margin-top: 200px;">
                    <img [src]="myimage3" alt="Cinque Terre" width="550" height="250" >
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" id="image4" style="background-color:white;">
                <img [src]="myimage4"  alt="Cinque Terre" width="480" height="400"> 
            </div>
            <div class="col-sm-6" style="background-color:white;">
                <h3 class="redheading6">360 FEEDBACK</h3><br>
                <h1 class="heading6">360-degree feedback and<br>performance reviews<br>reimagined</h1>
                <p class="paragraph6">In Keka performance management software, the<br>
                     performance of employees is reviewed from all sides to <br>
                     conduct an effective appraisal process. Employee<br>
                      performance evaluation is done by not only one manager<br>
                       but all the managers or group of co-workers.</p> 
                <button class="btn info">Learn about OKRs and Goals</button>
            </div>
        </div>
    </div>

    
   
    <!--Footer-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1" style="background-color:#3c444b;height: 350px;"></div>
            <div class="col-sm-10" style="background-color:#3c444b;height: 350px;width:1318px;">
              <table>
                <tr>
                    <th>Core HR</th>
                    <th>Payroll</th>
                    <th>Hiring & Onboarding</th>
                    <th>Company</th>
                </tr>
      
                <tr>
                    <td>HRIS</td>
                    <td>Payroll Software</td>
                    <td>Hiring</td>
                    <td>About us</td>
                </tr>
      
                <tr>
                    <td>Employee Profiles</td>
                    <td>Compliance</td>
                    <td>Applicant Tracking</td>
                    <td>Customer Stories</td>
                </tr>
      
                <tr>
                    <td>Documents</td>
                    <td>Expense Management</td>
                    <td>Offer Management</td>
                    <td>Partner with Us</td>
                </tr>
      
                <tr>
                    <td>Helpdesk</td>
                    <td>Compensation</td>
                    <td>Employee Onboarding</td>
                    <td>Integrations</td>
                </tr>
      
                <tr>
                    <td>Pulse Surveys</td>
                    <td>Loans & Advances</td>
                    <td></td>
                    <td>Security</td>
                </tr>
      
                <tr>
                  <td>HR Analytics</td>
                  <td>Employee Finances</td>
                  <td></td>
                  <td>We are hiring !</td>
                </tr>
              </table>
            </div>
          <div class="col-sm-1" style="background-color:#3c444b;height: 350px;"></div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row" id="secndtble">
          <div class="col-sm-1" style="background-color:#3c444b;height: 500px;"></div>
            <div class="col-sm-10" style="background-color:#3c444b;height: 500px;width:1318px;">

                  <table>
                        <tr>
                          <th>Time Attendance</th>
                          <th>Performance</th>
                          <th>Customers</th>
                          <th>Contact</th>
                        </tr>

                        <tr>
                          <td>LeaveManagement</td>
                          <td>Overview</td>
                          <td>CustomerExperience</td>
                          <td>Sales:
                              +91 89292 08062<br>
                              +91 40 4137 1123</td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>AttendanceManagement</td>
                          <td>360degreereviews</td>
                          <td>Customer Stories</td>
                          <td>For support:<br>
                              support@keka.com</td>
                            
                        </tr>

                        <tr>
                            <td>GPS /MobileAttendance</td>
                            <td>OKRs and Goals</td>
                            <td>Onboarding&Implementation</td>
                            <td>Plot No 283/A, Incor 9</td>
                            <td></td>
                        </tr>

                        <tr>    
                            <td>Shift Management</td>
                            <td>One on One</td>
                            <td>Wall of Love</td>
                            <td>Opp:Westin Hotel,MindSpace</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>Continuous Feedback</td>
                            <td>Support</td>
                            <td></td>
                        </tr>
                    </table>    
              </div>
              <div class="col-sm-1" style="background-color:#3c444b;height: 500px;"></div>
              <hr style="color: beige;">
          </div>
      </div>

  
      