<app-student-header></app-student-header>
  <div class="card border-primary border-2 mb-1 mt-4 mx-auto" style="max-width: 80rem;width:600px">
    <div class="card-header bg-primary text-white">Admission Details</div>
    <div class="card-body text-primary">
        <table>
            <tr>
                <th>Admission Number</th>
                <td>:</td>
                <td>123456</td>

                <th>Midum Type</th>
                <td>:</td>
                <td>9th </td>
            </tr>

            <tr>
                <th>Class</th>
                <td>:</td>
                <td>9th </td>

                <th>Halticket Number</th>
                <td>:</td>
                <td>45768652 </td>
            </tr>
           
            <tr>
                <th>Joining Year</th>
                <td>:</td>
                <td>2014</td>

                <th>Joining Date</th>
                <td >:</td>
                <td>10/11/2014</td>
            </tr>
           
        </table>
      </div>
  </div>


  <div class="card border-primary border-2 mb-3  mx-auto" style="width: 600px;">
    <div class="card-header bg-primary text-white">Personal Details</div>
    <div class="card-body text-primary">
      <table>
        <tr>
            <th>Student Name</th>
            <td>:</td>
            <td>Eshwar Merugu</td>

            <th >Father Cell</th>
            <td>:</td>
            <td>8019845075</td>
        </tr>

        <tr>
            <th>Father Name</th>
            <td>:</td>
            <td>GopiKrishna Merugu </td>

            <th>Student Cell</th>
            <td>:</td>
            <td>45768652 </td>
        </tr>
       
        <tr>
            <th>Mother Name</th>
            <td>:</td>
            <td>ViajaLaxmi Merugu</td>

            <th>Identification Marks</th>
            <td >:</td>
            <td>A mole on the neck</td>
        </tr>

        <tr>
          <th>Date Of Birth</th>
          <td>:</td>
          <td>12/02/13</td>

          <th>Joining Date</th>
          <td >:</td>
          <td>10/11/2014</td>
      </tr>

      <tr>
        <th>Gender</th>
        <td>:</td>
        <td>Male</td>

        <th>Address</th>
        <td >:</td>
        <td>Hyderabad</td>
      </tr>

      <tr>
        <th>Caste</th>
        <td>:</td>
        <td>XXXXXXX</td>

        <th>Sub-Caste</th>
        <td >:</td>
        <td>BC</td>
      </tr>
       
    </table>
      </div>
  </div>


  <div class="card border-primary border-2 mb-5 mx-auto" style="width: 600px;">
    <div class="card-header bg-primary text-white">Exam Details</div>
    <div class="card-body text-primary">
      <table>
        <tr>
            <th>Exam Halticket Number</th>
            <td>:</td>
            <td>Eshwar Merugu</td>
        </tr>

        <tr>
            <th>MAX Marks</th>
            <td>:</td>
            <td>100 </td>
        </tr>
       
        <tr>
            <th>Obtain Marks</th>
            <td>:</td>
            <td>70</td>
        </tr>

        <tr>
          <th>Pass Type</th>
          <td>:</td>
          <td>P</td>
      </tr>


    </table>
      </div>
  </div>
  <app-student-footer></app-student-footer>